{% extends 'template.twig' %}

{% block title %}{{ article.getName }}{% endblock %}

{% block menuitems %}
    <a class="item" rel="nofollow" href="{{urlFor('articles-edit', {id: article.getId})}}">
        <i class="edit icon"></i>
        Редактировать
    </a>
    <a class="item" rel="nofollow" href="{{urlFor('articles-versions', {name: article.getName})}}">
        <i class="history icon"></i>
        Версии статьи
    </a>
{% endblock %}

{% block body %}
    <div class="ui segments">
        {% if article is Event %}
            <div class="ui segment">
                {% set year = article.getEventDate()|date('Y') %}
                {% set month = article.getEventDate()|date('m') %}
                {% set day = article.getEventDate()|date('d') %}
                {% include 'blocks/events-breadcrumb.twig' %}
            </div>
        {% endif %}
        <div class="ui segment">
            <h2 class="ui purple header">
                {{ article.getName }}
                {% if article is Event %}
                    <div class="sub header">
                        Дата:
                        {{ article.getEventDate()|date('d.m.Y') }}
                    </div>
                {% endif %}
            </h2>
        </div>
        <div class="ui segment">
            {{ article.getContent|raw }}
        </div>
    </div>
{% endblock %}
