{% extends 'blanktemplate.twig' %}

{% block title %}Список загруженных файлов{% endblock %}
{% block body %}
    <div class="ui segment">
        {% include 'upload.form.twig' %}
        <h1>Список загруженных файлов</h1>
        
        {% include 'includes/paginator.twig' %}

        <div class="ui link items">
            {% for item in list %}
                <div class="item"
                    data-id="{{item.getId}}"
                    data-filename="{{item.getFilename}}"
                    data-original-filename="{{item.getOriginalFilename}}"
                    data-type="{{item.getType}}"
                >
                    <a class="ui tiny image">
                        {% if item is UploadImage %}
                            <img src="{{PUBLIC_UPLOADS}}/{{item.getFilename}}">
                        {% else %}
                            <i class="huge black file icon"></i>
                        {% endif %}
                    </a>
                    <div class="content">
                        <div class="header">
                            {{item.getOriginalFilename}}
                        </div>
                        <div class="meta">
                            <span>{{item.getMimeType}}</span>
                            {% if item is UploadImage %}
                                <span class="right floated">
                                    {{item.getWidth}}x{{item.getHeight}}
                                </span>
                            {% endif %}
                        </div>
                        <div class="description">
                            ID: <strong>{{item.getId}}</strong><br>
                            Тег: <strong>{{item.getTag}}</strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        {% include 'includes/paginator.twig' %}
        
    </div>


    <script type="text/javascript">
        if (window.opener != null) {
            document.addEventListener("DOMContentLoaded", function(event) {
                var list = document.getElementsByClassName('item');
                for (var i = list.length - 1; i >= 0; i--) {
                    list[i].addEventListener('click', function(event) {
                        window.opener.HistoryWiki.Uploads.ChooseCallback({
                            id               : this.attributes.getNamedItem('data-id').value,
                            type             : this.attributes.getNamedItem('data-type').value,
                            filename         : this.attributes.getNamedItem('data-filename').value,
                            originalFilename : this.attributes.getNamedItem('data-original-filename').value
                        });
                    });
                };
            });
        }
    </script>

{% endblock %}
