{% if not century and year %}
    {% set century = year|slice(0,2) + 1 %}
{% endif %}
{% if not decade and year %}
    {% set decade = year|slice(2,1) + 1 %}
{% endif %}
<div class="ui large breadcrumb">
    <a class="section" href="{{urlFor('articles-events')}}">
        События
    </a>
    {% if century and decade %}
        <i class="right chevron icon divider"></i>
        <a class="section" href="{{urlFor('articles-events-by-century', {century: century})}}">
            {{century}}-й век
        </a>
    {% elseif century %}
        <i class="right chevron icon divider"></i>
        <div class="section">
            {{century}}-й век
        </div>
    {% endif %}

    {% if decade and year %}
        <i class="right chevron icon divider"></i>
        <a class="section" href="{{urlFor('articles-events-by-decade', {century: century, decade: decade})}}">
            {{decade}}-я декада
        </a>
    {% elseif decade %}
        <i class="right chevron icon divider"></i>
        <div class="section">
            {{decade}}-я декада
        </div>
    {% endif %}

    {% if year and month %}
        <i class="right chevron icon divider"></i>
        <a class="section" href="{{urlFor('articles-events-by-date', {year: year})}}">
            {{year}}
        </a>
    {% elseif year %}
        <i class="right chevron icon divider"></i>
        <div class="section">
            {{year}}
        </div>
    {% endif %}

    {% if month and day %}
        <i class="right chevron icon divider"></i>
        <a class="section" href="{{urlFor('articles-events-by-date', {year: year, month: month})}}">
            {{month}}
        </a>
    {% elseif month %}
        <i class="right chevron icon divider"></i>
        <div class="section">
            {{month}}
        </div>
    {% endif %}

    {% if day and article %}
        <i class="right chevron icon divider"></i>
        <a class="section" href="{{urlFor('articles-events-by-date', {year: year, month: month, day: day})}}">
            {{day}}
        </a>
    {% else %}
        <i class="right chevron icon divider"></i>
        <div class="section">
            {{day}}
        </div>
    {% endif %}
</div>
